:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

html {
  font-size: 62.5%;
  margin: 0px;
  height: 100%;
}

body {
  flex-wrap: nowrap;
  padding-top: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  color: var(--title);
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

#logo>h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 6rem;
  color: #FFFCF9;
}

#logo>img {
  display: block;
  margin: 0 auto;
  width: 8.724rem;
  height: 6.293rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shuffle {
  margin: 0 auto;
  display: block;
  justify-content: center;
  width: 18.098rem;
  height: 4.7rem;
}

footer>p {
  margin: 0 auto;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  width: 38.1rem;
  height: 4.2rem;
  padding-top: 2.8rem;
}

footer>button {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer>button>img {
  height: 1.5rem;
  vertical-align: -20%;
}

main {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 62.8rem;
  height: 31.9rem;
  gap: 5rem;
}

#desc {
  width: 42.3rem;
  height: 27.424rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;

  color: #FFFCF9;
}


main>#thumb {
  width: 17.1rem;
height: 24.377rem;

}

main>h1 {
  width: 23.1rem;
  height: 2.571rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;

  color: #FFFCF9;

}

@media (max-width: 640px) {
  body, header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    padding: 0;
  }

  main {
    width: 40rem;
    display: block;
  }

  main > img {
    display: block;
    margin: 0 auto;
    max-height: 15rem;
  }

  #desc {
    width: 31.6rem;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
  }

  #desc {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }

}
